<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genres</title>
</head>
<body>
  <h1>Genres</h1>
  <ul>
    <% genres.forEach(genre => { %>
      <li>
        <strong><%= genre.genre %></strong>:
        <%= genre.songs.join(", ") %> 
      </li> 
    <% }); %>
  </ul>
<button onclick="window.location.href='/'">Back to Home</button>
</body>
</html>